:root {
  --arrow-vertical: 50%;
  --arrow-horizontal: 20px;
}
.slider {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.slider img {
  width: 100%;
}
.banner {
  width: 70%;
  position: relative;
}


.banner span {
  position: absolute;
  top: var(--arrow-vertical);
  transition: all 0.3s ease;
}
.banner span:hover svg {
  color: #eee;
  cursor: pointer;
}
.banner span svg {
  font-size: 30px;
}
.leftArrow {
  left: var(--arrow-horizontal);
}
.rightArrow {
  right: var(--arrow-horizontal);
}

/* Responsive Design */

@media (max-width: 768px) {
  .slider {
    flex-direction: column;
    margin-top: 10px;
  }
  .banner {
    width: 100%;
  }
  .right-side {
    padding-left: 0;
    margin-top: 30px;
  }
}
